<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>User name</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://img2.freepng.es/20180329/lue/kisspng-angularjs-typescript-node-js-javascript-letter-a-5abd8d10eef164.7123329715223718569787.jpg" alt="img">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    <mat-divider></mat-divider>
        <h2 mat-subheader>Tools</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>contact_phone</mat-icon>
            Leads
        </a>
</mat-nav-list>
